# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/node_modules
back-end/node_modules
/.pnp
.pnp.js




dataset_aug/basophil_aug
dataset_aug/eosinophil_aug
dataset_aug/erythroblast_aug
dataset_aug/ig_aug
dataset_aug/lymphocyte_aug
dataset_aug/monocyte_aug
dataset_aug/neutrophil_aug
dataset_aug/platelet_aug

New_dataset/train/basophil_aug
New_dataset/train/eosinophil_aug
New_dataset/train/erythroblast_aug
New_dataset/train/ig_aug
New_dataset/train/lymphocyte_aug
New_dataset/train/monocyte_aug
New_dataset/train/neutrophil_aug
New_dataset/train/platelet_aug

New_dataset/test/basophil_aug
New_dataset/test/eosinophil_aug
New_dataset/test/erythroblast_aug
New_dataset/test/ig_aug
New_dataset/test/lymphocyte_aug
New_dataset/test/monocyte_aug
New_dataset/test/neutrophil_aug
New_dataset/test/platelet_aug

New_dataset/validation/basophil_aug
New_dataset/validation/eosinophil_aug
New_dataset/validation/erythroblast_aug
New_dataset/validation/ig_aug
New_dataset/validation/lymphocyte_aug
New_dataset/validation/monocyte_aug
New_dataset/validation/neutrophil_aug
New_dataset/validation/platelet_aug

dataset/test
dataset/train/basophil
dataset/train/eosinophil
dataset/train/erythroblast
dataset/train/ig
dataset/train/lymphocyte
dataset/train/monocyte
dataset/train/neutrophil
dataset/train/platelet




# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
